<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7zYxyM-Ya1ybQPibBWHRnxBr9lBJ2lWw</string>
	<key>GCM_SENDER_ID</key>
	<string>374974504814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dandi.RealTimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-7357e</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-7357e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374974504814:ios:74c6a768cfcab393ebab7f</string>
</dict>
</plist>